.css-sprite-icon_fronticon1_1
{
background:url('css-sprite-combined.png.png') 0px -0px;
width:40px;height:40px;
}

.css-sprite-icon_fronticon2_1
{
background:url('css-sprite-combined.png.png') -40px -0px;
width:40px;height:40px;
}

.css-sprite-icon_fronticon3_1
{
background:url('css-sprite-combined.png.png') -80px -0px;
width:40px;height:40px;
}

.css-sprite-icon_fronticon4_1
{
background:url('css-sprite-combined.png.png') -120px -0px;
width:40px;height:40px;
}

.css-sprite-icon_fronticon5_1
{
background:url('css-sprite-combined.png.png') -160px -0px;
width:40px;height:40px;
}

